<a href="https://colab.research.google.com/github/ElenaBobro/hoom-work2-/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%222_4_%D0%9A%D0%BB%D0%B0%D1%81%D0%B8_%22LB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнє завдання до теми "Classes"
В цьому домашньому завданні в деяких задачах є частини коду, та в кожному завданні описано, що з ними треба зробити, часто - просто виконати після того, як ви напишете частину, якої поки не вистачає. Пишіть, будь ласка, код, який реалізує рішення кожного завдання, безпосереньо під формулюванням завдання, створюючи нові клітинки. Можете створювати скільки завгодно клітинок для виконання одного завдання.

1.Нижче є створений клас "Shop". Це клас для визначення магазинів компанії "АВС". У кожного магазина є локація і прибуток. Створіть три магазини в трьох окремих змінних:  
- один з локацією "Київ" та прибутком 5500,   
- другий - з локацією "Львів" та прибутком 3000,  
- третій - з локацією "Полтава" та прибутком 2500  

Порахуйте після цього суму прибутків трьох магазинів використовуючи інформацію про створені магазини.
Виведіть сумарний прибуток на екран.

In [ ]:
class Shop:
    company = 'ABC'

    def __init__(self, location, profit):
        self.location = location
        self.profit = profit

In [ ]:
s1 = Shop("Київ", 5500)
s2 = Shop("Львів", 3000)
s3 = Shop("Полтава", 2500)

t_profit = s1.profit + s2.profit + s3.profit

print(f"Сумарний прибуток: {t_profit}")

Сумарний прибуток: 11000

2.Створіть клас `Employee`, який при ініціалізації представника класу визначає поля "Прізвище", "Місяць народження" та "Зарплата" та запустіть код нижче.

In [ ]:
class Employee:

    def __init__(self, surname, month, salary):
        self.surname = surname
        self.month = month
        self.salary = salary

In [ ]:
emp_1 = Employee('Чорненко', 'жовтень', 2000)
emp_2 = Employee('Біленко', 'січень', 3000)
emp_3 = Employee('Жовтенко', 'березень', 3400)

print(emp_1.surname,  emp_1.month, emp_1.salary)
print(emp_2.surname,  emp_2.month, emp_2.salary)
print(emp_3.surname,  emp_3.month, emp_3.salary)

Чорненко жовтень 2000
Біленко січень 3000
Жовтенко березень 3400

3.До класу `Employee` додайте метод `salutate`, який вітатиме з **місяцем** народження. Аби додати метод - скопіюйте просто код з визначенням класа з попереднього завдання і додайте туди новий метод.  
Метод має приймати на вхід заданий місяць і
- якщо цей місяць співпадає з місяцем народження співробітника, виводить `Вітаємо, пане <прізвище співробітника>! Зараз місяць <назва місяця> у Вас День народження! Будьте здорові!`. Для формування привітання використайте інтерполяцію рядків.
- якщо місяць не співпадає з місяцем народження співробітника, метод нічого не вертає.  

Коли зробите завдання - запустіть код нижче.

In [7]:
class Employee:

    def __init__(self, surname, month, salary):
        self.surname = surname
        self.month = month
        self.salary = salary

    def salutate(self, people_day):
      if people_day == self.month:
         print(f'Вітаємо, пане {self.surname}! Зараз місяць {self.month} у Вас День народження! Будьте здорові!')

In [8]:
emp_1 = Employee('Чорненко', 'жовтень', 2000)
emp_2 = Employee('Біленко', 'січень', 3000)
emp_3 = Employee('Жовтенко', 'березень', 3400)

emp_1.salutate('грудень')
emp_2.salutate('січень')
emp_3.salutate('травень')

Вітаємо, пане Біленко! Зараз місяць січень у Вас День народження! Будьте здорові!

4.Створіть клас, який наслідує `Employee` та називається `BossEmployee`. У цього класа при ініціалізації є всі ті самі поля, що і в Employee, але також є поле `n_subordinates`, тобто "кількість підлеглих".

Додайте новоствореному класу метод `add_subordinates`, який додаватиме передану в метод кількість підлеглих цьому босу (тобто буде оновлювати поле класу `n_subordinates`) та буде виводити повідомлення `Вітаємо, пане <прізвище співробітника>! У Вас <введене в метод число> нових співробітників!`. Перевірте, аби кількість нових підлеглих була цілою, якщо це не так, виведіть повідомлення: `Число <введене в метод число, округлене до трьох чисел після коми> не може бути кількістю підлеглих.`.

Для формування повідомлень використайте метод форматування рядків, котрий був другим в лекції (з `format` частиною).
Коли зробите завдання - запустіть код нижче.

In [13]:
class BossEmployee(Employee):
    def __init__ (self, surname, month, salary, n_subordinates):
        super().__init__(surname, month, salary)
        self.n_subordinates = n_subordinates

    def add_subordinates(self, num):
        if isinstance(num, int):
            self.n_subordinates += num
            print("Вітаємо, пане {0}! У Вас {1} нових співробітників!".format(self.surname, num))
        else:
            print("Число {0:.3f} не може бути кількістю підлеглих.".format(num))

In [14]:
emp_4 = BossEmployee('Босенко', 'липень', 5500, 3)
emp_4.add_subordinates(5)
emp_4.add_subordinates(4.78764174)
emp_4.add_subordinates(4)
emp_4.n_subordinates

Вітаємо, пане Босенко! У Вас 5 нових співробітників!
Число 4.788 не може бути кількістю підлеглих.
Вітаємо, пане Босенко! У Вас 4 нових співробітників!

12

Очікуваний результат виконання команд вище:
```
Вітаємо, пане Босенко! У Вас 5 нових співробітників!     
Число 4.788 не може бути кількістю підлеглих.
Вітаємо, пане Босенко! У Вас 4 нових співробітників!
12
```

# Ураа!! Ви завершили ВСІ завдання ДРУГОГО ТЕХНІЧНОГО МОДУЛЮ!!! З кожним ДЗ Ви стаєте з Python все ближче і ближче. Ваші відносини зараз - "він поставив вогник на вашу сторис" 😉

В кінці курсу будете наче пити з ним просеко на кухні і обговорювати останні мемчики.  

Далі - ще цікавіше! 🚀🚀🚀